#menu_title {
    font-size: 100px;
    color:darkorange;
    text-align: center;
}

#title {
    font-size: 100px;
    text-align: center;
}

#timer {
    font-size: 100px;
    text-align: center;
}

#buttons {
    padding: 100px;
    font-size: 100px;
    text-align: center; /* 여기 안됨 */
}

#start {
    text-align: center;
}